<!-- Start Targets Widget -->
<div class="targets bg-white">
    <h2 class="mt-0">Yearly Targets</h2>
    <p class="mt-0 fs-15">Targets Of The Year</p>
    <div class="d-flex justify-content-center align-items-center target-row mb-20 blue">
        <div class="icon d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-dollar-sign fa-lg c-blue"></i>
        </div>
        <div class="details">
            <span class="fs-14 c-grey">Money</span>
            <span class="d-block mt-1 mb-10 fw-bold">$20.000</span>
            <div class="progress position-relative overflow-visible">
                <span class="bg-blue blue" style="width: 80%">
                    <span class="bg-blue">80%</span>
                </span>
            </div>
        </div>
    </div>
    <div class="target-row d-flex justify-content-center align-items-center mb-20 orange">
        <div class="icon d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-code fa-lg c-orange"></i>
        </div>
        <div class="details">
            <span class="fs-14 c-grey">Projects</span>
            <span class="d-block mt-1 mb-10 fw-bold">24</span>
            <div class="progress position-relative overflow-visible">
                <span class="bg-orange orange" style="width: 55%">
                    <span class="bg-orange">55%</span>
                </span>
            </div>
        </div>
    </div>
    <div class="target-row d-flex justify-content-center align-items-center mb-20 green">
        <div class="icon d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-user fa-lg c-green"></i>
        </div>
        <div class="details">
            <span class="fs-14 c-grey">Team</span>
            <span class="d-block mt-1 mb-10 fw-bold">12</span>
            <div class="progress position-relative overflow-visible">
                <span class="bg-green green" style="width: 75%">
                    <span class="bg-green">75%</span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Targets Widget -->