<div class="projects p-20 bg-white rad-10 m-20">
    <h2 class="mt-0 mb-20">Projects</h2>
    <div class="responsive-table">
        <table class="fs-15 w-full">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Finish Date</td>
                    <td>Client</td>
                    <td>Price</td>
                    <td>Team</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.finishDate}}</td>
                    <td>{{employee.client}}</td>
                    <td>{{employee.price}}</td>
                    <td>{{employee.team}}</td>
                    <td [ngClass]="">{{employee.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>