<div class="page d-flex">
    <div class="content w-full">
        <div class="friends-page d-grid m-20 gap-20">
            <div *ngFor="let friend of friends" class="friend bg-white rad-6 p-20 p-relative">
                <div class="contact">
                    <i class="fa-solid fa-phone"></i>
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="text-center avatar">
                    <img class="rad-half mt-10 mb-10 h-100" [src]="imgSrc + friend.avatar" alt="" />
                    <h4 class="m-0">{{friend.name}}</h4>
                    <p class="c-grey mb-0">{{friend.profession}}</p>
                </div>
                <div class="icons fs-14 p-relative">
                    <div class="mb-10">
                        <i class="fa-regular fa-face-smile fa-fw"></i>
                        <span>{{friend.friends}} Friend</span>
                    </div>
                    <div class="mb-10">
                        <i class="fa-solid fa-code-commit fa-fw"></i>
                        <span>{{friend.project}} Projects</span>
                    </div>
                    <div>
                        <i class="fa-regular fa-newspaper fa-fw"></i>
                        <span>{{friend.articles}} Articles</span>
                    </div>
                    <span class="vip fw-bold c-orange" *ngIf="friend.vip">VIP</span>
                </div>
                <div class="info between-flex fs-13">
                    <span class="c-grey">Joined {{friend.Joined | date:'d MMM y'}}</span>
                    <div>
                        <a class="bg-blue c-white btn-shape" href="profile.html">Profile</a>
                        <a class="bg-red c-white btn-shape" href="#">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>