<div class="search-items h-100">
    <h2 class="mt-0">Top Search Items</h2>
    <div class="items-head d-flex justify-content-between">
      <div>Keyword</div>
      <div>Search Count</div>
    </div>
    <div class="items d-flex justify-content-between">
      <span>Programming</span>
      <span class="fs-13 btn">220</span>
    </div>
    <div class="items d-flex justify-content-between">
      <span>JavaScript</span>
      <span class="btn-shape">180</span>
    </div>
    <div class="items d-flex justify-content-between">
      <span>PHP</span>
      <span class="btn-shape">160</span>
    </div>
    <div class="items d-flex justify-content-between">
      <span>Code</span>
      <span class="btn-shape">145</span>
    </div>
    <div class="items d-flex justify-content-between">
      <span>Design</span>
      <span class="btn-shape">110</span>
    </div>
    <div class="items d-flex justify-content-between">
      <span>Logic</span>
      <span class="btn-shape">95</span>
    </div>
  </div>