@import "../../assets/variables.scss";
@import "../../assets/framework.scss";

.settings-page {
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  > div {
    padding: 20px;
    border-radius: 10px;
    h2 {
      margin-bottom: 10px;
    }

    h2 + p {

      margin-bottom: 20px;
      font-size: 15px;
      color: $gray-color;
    }
  }

  textarea{
    padding: 10px;
    border-radius: 6px;
  }
}

@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.settings-page .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}

.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}

.settings-page .sec-box {
  padding-bottom: 15px;
}

.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.settings-page .sec-box .button {
  transition: 0.3s;
}

.settings-page .sec-box .button:hover {
  background-color: var(--blue-alt-color);
}

.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}

.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}

.settings-page .social-boxes > div:focus-within i {
  color: black;
}

.toggle-checkbox {
  -webkit-appearance: none ;
  appearance: none ;
}

.toggle-switch{
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: $blue-color;
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}

