body{
  background: #0B2429;
  
}

div {
  position: relative;
  top: 127;
  margin: auto;
  width: 100;
  height: 100;
  background: #F3AC3C;
  transform: rotate(45deg)
  
}

  div:after, div:before{
    content: "";
    position: absolute;
    
  }

  div:after{
    background: #1A4341;
    transform: translate(-25%, -100%) skewX(45deg);
    width: 100;
    height: 50
  }

  
  div:before{
    background: #998235;
        transform: translate(-100%, -25%) skewY(45deg);
    width: 50;
    height: 100
  }
  