<div class="welcome bg-white text-sm-center text-md-start d-sm-block d-md-">
    <div class="intro d-flex justify-content-between">
        <div>
            <h2 class="m-0">
                welcome
            </h2>
            <p>
                Hamza
            </p>
        </div>
        <img src="../../assets/images/welcome.png" alt="">
    </div>
    <img class="avatar" src="assets/images/avatar.png" alt="img">
    <div class="body text-center d-sm-block d-md-flex">
        <div>
            Hamaza Noah <span class="d-block">Developer</span>
        </div>
        <div>80 <span class="d-block">Projects</span></div>
        <div>8500$ <span class="d-block">Earned</span></div>
    </div>
    <a href="#" class="visit d-block fs-14 btn text-white">Profile</a>
</div>