<div class="latest-uploads h-100">
    <h2 class="mt-0">Latest Uploads</h2>
    <ul class="m-0 p-0">
        <li *ngFor="let upload of uploads" class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img [src]="imgPath+upload.imgSrc" alt="" />
                <div>
                    <span class="d-block">{{upload.title}}</span>
                    <span class="name">{{upload.userName}}</span>
                </div>
            </div>
            <div class="">{{upload.size}}mb</div>
        </li>
    </ul>
</div>