<div class="last-project position-relative h-100">
    <h2 class="mt-0">Last Project Progress</h2>
    <ul class="m-0 p-0 position-relative">
        <li class="d-flex align-items-center done">Got The Project</li>
        <li class="d-flex align-items-center done">Started The Project</li>
        <li class="d-flex align-items-center done">The Project About To Finish</li>
        <li class="d-flex align-items-center current">Test The Project</li>
        <li class="d-flex align-items-center">Finish The Project & Get Money</li>
    </ul>
    <img class="launch-icon" src="assets/images/project.png" alt="" />
</div>