
        <div class="wraper d-grid ">
            <app-welcome></app-welcome>
            <app-quick-draft></app-quick-draft>
            <app-tagets-widget></app-tagets-widget>
            <app-tweet-statistics></app-tweet-statistics>
            <app-latest-news></app-latest-news>
            <app-tasks-widget></app-tasks-widget>
            <app-top-search-widget></app-top-search-widget>
            <app-latest-uploads></app-latest-uploads>
            <app-last-progress-project></app-last-progress-project>
            <app-projects-table></app-projects-table>
        </div>