<div class="page d-flex">
    <app-sidebar class="d-flex"></app-sidebar>
    <div class="content w-100 overflow-hidden">
        <div class="head bg-white d-flex align-items-center justify-content-between">
            <div class="search position-relative">
                <input type="search" placeholder="Type a Keyword">
            </div>
            <div class="icons d-flex align-items-center">
                <span class="notification position-relative">
                    <i class="fa-regular fa-bell fa-lg"></i>
                </span>
                <img src="assets/images/avatar.png" alt="img">
            </div>
        </div>
        <h1 class="position-relative">
            Dashboard
        </h1>
        <div class="wraper d-grid ">
            <app-welcome></app-welcome>
            <app-quick-draft></app-quick-draft>
            <app-tagets-widget></app-tagets-widget>
            <app-tweet-statistics></app-tweet-statistics>
            <app-latest-news></app-latest-news>
        </div>
    </div>
</div>