<div class="page d-flex">
    <div class="sidebar position-relative bg-white text-center">
        <h3 class="position-relative text-center mt-0">Hamza</h3>
        <ul class="p-0 list-unstyled">
            <li>
                <a class="active d-flex align-items-center text-dark" href="#"><i
                        class="fa-regular fa-chart-bar fa-fw"></i>
                    <span class="hide-mobile">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#">
                    <i class="fa-sharp fa-solid fa-gear"></i>
                    <span class="hide-mobile">Settings</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#"><i class="fa-regular fa-user"></i>
                    <span class="hide-mobile">Profile</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#"><i class="fa-solid fa-diagram-project"></i>
                    <span class="hide-mobile">Projects</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#"><i class="fa-solid fa-graduation-cap"></i>
                    <span class="hide-mobile">Courses</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#"><i class="fa-solid fa-user-group"></i>
                    <span class="hide-mobile">Friends</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#"><i class="fa-regular fa-file"></i>
                    <span class="hide-mobile">Files</span>
                </a>
            </li>
            <li>
                <a class="d-flex align-items-center text-dark" href="#"><i class="fa-solid fa-credit-card"></i>
                    <span class="hide-mobile">Plans</span>
                </a>
            </li>
        </ul>

    </div>
    <div class="content w-100 overflow-hidden">
        <div class="head bg-white d-flex align-items-center justify-content-between">
            <div class="search position-relative">
                <input type="search" placeholder="Type a Keyword">
            </div>
            <div class="icons d-flex align-items-center">
                <span class="notification position-relative">
                    <i class="fa-regular fa-bell fa-lg"></i>
                </span>
                <img src="https://via.placeholder.com/32" alt="img">
            </div>
        </div>
        <h1 class="position-relative">
            Dashboard
        </h1>
        <div class="wraper d-grid ">
            <div class="welcome bg-white text-sm-center text-md-start d-sm-block d-md-">
                <h2>welcom</h2>
            </div>
        </div>
    </div>
</div>