<div class="tickets h-100">
    <h2 class="mt-0 ">Tickets Statistics</h2>
    <p class="mt-0">Everything About Support Tickets</p>
    <div class="d-flex text-center">
      <div class="box">
        <i class="fa-regular fa-rectangle-list fa-2x c-orange"></i>
        <span class="d-block text-black fw-bold">2500</span>
        Total
      </div>
      <div class="box">
        <i class="fa-solid fa-spinner fa-2x"></i>
        <span class="d-block text-black fw-bold">500</span>
        Pending
      </div>
      <div class="box">
        <i class="fa-regular fa-circle-check fa-2x c-green"></i>
        <span class="d-block text-black fw-bold">1900</span>
        Closed
      </div>
      <div class="box">
        <i class="fa-regular fa-rectangle-xmark fa-2x c-red"></i>
        <span class="d-block text-black fw-bold">100</span>
        Deleted
      </div>
    </div>
  </div>